html, body {
	margin: 0;
	padding: 0;
	background: black;
	width: 100%;
}
.gifs {
 	width: 100%;
	cursor: default;
}
.wrapper4c {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-gap: 0;
}
.wrapper6c {
	display: grid;
	grid-template-columns: repeat(6, 1fr);
	grid-gap: 0;
}
