html, body {
	margin: 0;
	padding: 0;
	width: 100%;
}
.gifs {
 	width: 100%;
	cursor: default;
	padding: 0;
}
.wrapper3c {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	}
.wrapper4c {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
}
.wrapper6c {
	display: grid;
	grid-template-columns: repeat(6, 1fr);
}
.nested {
	display: contents;
}
