html, body {
	margin: 0;
	padding: 0;
	background: white;
	width: 100%;
}
section {
	width: 100%;
	display: table;
	margin: 0;
	height: 100vh;
}
article {
  display: grid;
  grid-template-columns: 1fr minmax(0, 8.5in) 1fr;
	padding: 0.5in 0;
}
article * {
  grid-column: 2/3;
}
