html, body {
	margin: 0;
	padding: 0;
	background: white;
	width: 100%;
}
.intro {
	position: absolute;
	margin: auto;
	width: 100%;
	height: 100vh;
	backgroumd-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-2/explorer.jpeg") no-repeat 50% 50%;
	display: table;
	background-size: cover;
}
.container {
	position: relative;
	align-contentL: center;
}
.titled {
	position: absolute;
	background-color: white;
	display: flex;
	padding: 1.5rem 1rem;
	align-items: center;
	left: 1.5rem;
	bottom: 0;
	width: 300px
}
.title {
	font-size: 3em;
}
main {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
	padding: 0.5in 0;
}
main * {
  grid-column: 2/3;
}
article {
  display: grid;
  grid-template-columns: 1fr 0.5in [start] 1.25in 5in 1.25in [end] 0.5in 1fr;
	padding: 0.5in 0;
}
article * {
  grid-column: start/end;
}
@media (max-width: 8.5in) {
	article {
		grid-template-columns: 1fr 5% [start] 15% 60% 15% [end] 5% 1fr;
	}
}
.publish-time {
	text-color: gray;
	font-size: 1em;
}
.inphoto {
	grid-column: 2/7;
	width: 100%;
}
div, ul.last {
	margin-bottom: 2.4rem;
}
.destination {
	font-size: 2em;
}
div {
	font-size: 1em;
	line-height: 1.5em;
}
h4 {
	font-size: 1em;
}
h5 {
	font-size: 1.5em;
}
p {
	font-size: 1em;
}
