* {
	margin: 0;
	padding: 0;
}
body {
	margin: 0;
	padding: 0;
	width: 100%;
	color: white;
	background: linear-gradient(to top, rgb(0,0,0), rgb(2,9,15), rgb(11,26,30), rgb(22,38,45), rgb(44,67,82), rgb(44,104,127), transparent, transparent);
}
nav{
	display: flex;
	justify-content: flex-end;
	align-items: center;
	min-height: 8vh;
	position: absolute;
}
.nav-links {
	display: flex;
	justify-content: space-around;
	width: 85%;
}
.nav-links li {
	list-style: none;
}
.nav-links a {
	color: black;
	text-decoration: none;
	letter-spacing: 2px
}
.burger {
	display: none;
}
.burger div{
	width: 20px;
	height: 3px;
	background-color: black;
	margin: 5px;
}
@media screen and (max-width: 1440px) {
	.nav-links {
		width: 100%;
	}
}
@media screen and (max-width: 810px) {
	body {
		overflow-x: hidden;
	}
	.nav-links {
		position: relative;
		right: 0;
		height: 98vh;
		top: 8vh;
		display: flex;
		flex-direction: column;
		align-items: center;
		transform: translateX(100);
	}
}
.container {
	scroll-snap-type: y mandatory;
	overflow-y: scroll;
	width: 100%;
	height: 100%;
}
section {
	width: 100%;
	height: 100vh;
	scroll-snap-align: start;
}
section img {
	position: absolute;
	width: 100%;
	height: 100vh;
	object-fit: cover;
	z-index: -3;
}
#start h1 {
	position: absolute;
	color: rgb(11,26,30);
	top: 35%;
	left: 50%;
	transform: translate(-50%, -35%);
	font-size: 5.5rem;
	text-align: center;
	z-index: -2;
}
.topwater {
	z-index: -1
}
#zone1 {
	
}
/*#zone2 {
	
}
#zone3 {
	
}
#zone4 {
	
}
#zone5 {
	
}
#below {
	
}*/
#scrollup {
	position: fixed; /*as it scrolls it will follow on top of all the content*/
	right: 10px;
	bottom: 10px;
	width: 50px;
	height: 50px;
	border-radius: 50%;
	background: black;
	box-shadow: 0010px rgba(0, 0, 0, 0.25);
	color: white;
	border: none;
	outline: none;
	cursor: pointer;
}
#scrollup:active {
	background: white;
	color: black;
}