body {
  background-color: black;
}
.container {
  margin: 50px 75px;
}
p {
  color: #FFFFFF;
  font-family: Georgia;
  font-size: 1em;
  font-weight: 100;
  font-style: normal;
  font-variant: normal;
  font-variant-ligatures: no-common-ligatures;
  line-height: 1.2em;
  padding: 5px;
}
.back {
  background-image: url("rushdie.gif");
  background-repeat:no-repeat;
  background-size:contain;
  height:200px;
  width:100%;
}
.title {
  font-varient-caps: small-caps;
  font-kerning: none;
}
.nums {
  font-variant-numeric: oldstyle-nums;
}
.thinkiing {
  font-style: italic;
}
.first {
  width: 25%;
  float: left;
}
.second {
  width: 25%;
  float: right;
}
.third {
  width: 75%;
  position: fixed;
}

