body {
  background-color: black;
}
p {
  color: #FFFFFF;
  font-family: Georgia;
  font-size: 0.75em;
  font-weight: 100;
  font-style: normal;
  font-variant: normal;
  font-variant-ligatures: no-common-ligatures;
  line-height: 1em;
}
.title {
  font-varient-caps: all-small-caps;
  font-kerning: none;
}
.thinkiing {
  font-style: oblique;
}
.nums {
  font-variant-numeric: oldstyle-nums;
}
